<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
        <add key="gitlab" value="https://gitlab.com/api/v4/projects/18442627/packages/nuget/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <gitlab>
            <add key="Username" value="2w-gitlab" />
            <add key="ClearTextPassword" value="APuL_xrbZA_z3YVHvsSp" />
        </gitlab>
    </packageSourceCredentials>
</configuration>
